* {
  margin: 0;
}
body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
}

.container {
  width: 100%;
  margin: auto;
}
.main-cntr {
  width: 350px;
  height: 400px;
  border: 1px solid lightgrey;
  margin-top: 40px;
}
.title {
  display: flex;
  justify-content: center;
}
.logo {
  padding-top: 10px;
  width: 78%;
}
.log-in-info {
  margin: 5px 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 123px;
}
input[type="password"],
input[type="email"] {
  background-color: rgb(250, 250, 250);
  border: 1px solid lightgray;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 3px;
}
input[type="submit"] {
  background-color: #67b5fa;
  border: none;
  border-radius: 7px;
  color: white;
  padding: 8px;
  margin-top: 7px;
  font-weight: semi-bold;
  font-size: 14px;
}
.section-divider p {
  width: 80%;
  text-align: center;
  border-bottom: 1px solid lightgray;
  line-height: 0.1em;
  margin: 25px auto;
}
p span {
  background: #fff;
  padding: 0 10px;
  color: #737373;
  font-size: 12px;
  font-weight: 600;
}
.fb-log-in {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 0;
}
#fb-logo {
  width: 18px;
}
.fb-log-in > p {
  color: #42598b;
  font-size: 14px;
  cursor: pointer;
  font-weight: semi-bold;
  padding-left: 7px;
}
.ps-recovery {
  text-align: center;
  color: #1c4877;
  font-size: 12px;
}
.new-acnt {
  width: 350px;
  border: 1px solid lightgrey;
  margin-top: 10px;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
}
.new-acnt a {
  text-decoration: none;
  color: #0095f6;
  font-weight: bold;
}
.get-app {
  width: 350px;
  text-align: center;
  font-size: 14px;
  padding: 20px 0;
}
.download-app {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download-app img {
  width: 120px;
  margin: 0 4px;
}
.img-container img {
  display: none;
}
footer {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  color: #737373;
}
footer a {
  display: block;
  margin: 0 7px;
  line-height: 25px;
}

.footer-btm {
}
@media only screen and (min-width: 750px) {
  .outer-cntr {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
  }
  .img-container {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .img-container img {
    display: flex;
    width: 400px;
  }

  .container {
    margin: 0 35px 0 15px;
    width: 50%;
  }
}
